html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;   /* ← これが iPad で必須 */
    touch-action: none;
}


/* PC用（縮まない） */
@media (min-width: 800px) {
  canvas {
    width: 800px;
    height: 400px;
    display: block;
    margin: 0 auto;
  }
}

/* iPhone用（横幅フィット） */
@media (max-width: 799px) {
  html, body {
    overscroll-behavior: none;
    overflow: hidden;
    touch-action: none;
  }

  canvas {
    width: 100vw;       /* 横幅にフィット */
    height: 50vw;       /* 800x400 の比率（2:1） */
    display: block;
  }
}
